xml/alumnos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

<xs:element name="alumnos">
  <xs:complexType>
   <xs:sequence>
     <xs:element ref="alumno" 
		minOccurs='1' 
		maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
</xs:element>

 <xs:element name="alumno">
  <xs:complexType>
   <xs:sequence>
     <xs:element name="nombre" minOccurs='1' type="xs:string" />
     <xs:element name="apellidos" minOccurs='1' type="xs:string" />
   </xs:sequence>
   <xs:attribute name="dni" type="xs:integer" />

  </xs:complexType>
 </xs:element>

</xs:schema>
